#cbx-29 {
  scale: 1.5;
}

.wrap-check-29 {
  position: relative;
  align-items:center ;
}

 .wrap-check-29 > svg {
  position: absolute;
  top: -130%;
  left: -170%;
  width: 110px;
  pointer-events: none;
} 

.wrap-check-29 * {
  box-sizing: border-box;
}

.wrap-check-29 input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  cursor: pointer;
  margin: 0;
}

.wrap-check-29 input[type="checkbox"]:focus {
  outline: 0;
}

.wrap-check-29 .cbx {
  width: 24px;
  height: 24px;
  top: calc(50vh - 12px);
  left: calc(50vw - 12px);
}

.wrap-check-29 .cbx input {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 2px solid #bfbfc0;
  border-radius: 50%;
}

.wrap-check-29 .cbx label {
  width: 24px;
  height: 24px;
  background: none;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: url("#goo-12");
  filter: url("#goo-12");
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}

.wrap-check-29 .cbx svg {
  position: absolute;
  top: 5px;
  left: 4px;
  z-index: 1;
  pointer-events: none;
}

.wrap-check-29 .cbx svg path {
  stroke: #fff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 19;
  stroke-dashoffset: 19;
  transition: stroke-dashoffset 0.3s ease;
  transition-delay: 0.2s;
}

.wrap-check-29 .cbx input:checked + label {
  animation: splash-12 0.6s ease forwards;
}

.wrap-check-29 .cbx input:checked + label + svg path {
  stroke-dashoffset: 0;
}

@-moz-keyframes splash-12 {
  40% {
    background: rgb(0, 238, 255);
    box-shadow: 0 -18px 0 -8px rgb(0, 238, 255), 
                16px -8px 0 -8px rgb(0, 238, 255), 
                16px 8px 0 -8px rgb(0, 238, 255), 
                0 18px 0 -8px rgb(0, 238, 255), 
                -16px 8px 0 -8px rgb(0, 238, 255), 
                -16px -8px 0 -8px rgb(0, 238, 255);
  }
  100% {
    background: rgb(0, 238, 255);
    box-shadow: none; /* Remove the black transparent layer */
  }
}

@-webkit-keyframes splash-12 {
  40% {
    background: rgb(0, 238, 255);
    box-shadow: 0 -18px 0 -8px rgb(0, 238, 255), 
                16px -8px 0 -8px rgb(0, 238, 255), 
                16px 8px 0 -8px rgb(0, 238, 255), 
                0 18px 0 -8px rgb(0, 238, 255), 
                -16px 8px 0 -8px rgb(0, 238, 255), 
                -16px -8px 0 -8px rgb(0, 238, 255);
  }
  100% {
    background: rgb(0, 238, 255);
    box-shadow: none; /* Remove the black transparent layer */
  }
}

@-o-keyframes splash-12 {
  40% {
    background: rgb(0, 238, 255);
    box-shadow: 0 -18px 0 -8px rgb(0, 238, 255), 
                16px -8px 0 -8px rgb(0, 238, 255), 
                16px 8px 0 -8px rgb(0, 238, 255), 
                0 18px 0 -8px rgb(0, 238, 255), 
                -16px 8px 0 -8px rgb(0, 238, 255), 
                -16px -8px 0 -8px rgb(0, 238, 255);
  }
  100% {
    background: rgb(0, 238, 255);
    box-shadow: none; /* Remove the black transparent layer */
  }
}

@keyframes splash-12 {
  40% {
    background: rgb(0, 238, 255);
    box-shadow: 0 -18px 0 -8px rgb(0, 238, 255), 
                16px -8px 0 -8px rgb(0, 238, 255), 
                16px 8px 0 -8px rgb(0, 238, 255), 
                0 18px 0 -8px rgb(0, 238, 255), 
                -16px 8px 0 -8px rgb(0, 238, 255), 
                -16px -8px 0 -8px rgb(0, 238, 255);
  }
  100% {
    background: rgb(0, 238, 255);
    box-shadow: none; /* Remove the black transparent layer */
  }
}
